<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="../../static/otherassets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../static/otherassets/fonts/fontawesome-all.min.css">
</head>
<style type="text/css">
    .pics img{
        width: 50%;
        height: 299px;
        position: absolute;
        opacity: 0;
        animation: Simg 9s Infinite;
    }
    @keyframes Simg {
        0%{ opacity: 0}
        1%{ opacity: 1}
        33%{opacity: 1}
        33.3%{opacity:0}

    }
    img:nth-child(0){animation-delay: 0s}
    img:nth-child(1){animation-delay: 3s}
    img:nth-child(2){animation-delay: 6s}
    .header{
        background-image: url("../../static/otherassets/img/avatars/index1.jpg");
        background-size: 100% 100%;
        width: 100%;
        height:200px;
        margin-top: 10px;
    }
.article{
    width: 100%;
    height: 300px;
}
    .left{
        width: 40%;
        height: 300px;

        float: left;
        margin-top: 10px;
        border: #1cc88a 3px solid;
    }
    .right{
        width: 58%;
        height:300px ;

        float: left;
        margin-top: 10px;
        margin-left: 10px;
        border: #1cc88a 3px solid;
    }
    .left2{
        width: 58%;
        height: 300px;
        background-color: #2a96a5;
        float: left;
        background-image: url("../../static/otherassets/img/avatars/index2.png");
        background-size: 100% 100%;
        border: #2a96a5 3px solid;
    }
    .right2{
        width: 41%;
        height: 300px;
        background-color: #1c294e;

        float: left;
        margin-left: 10px;
        border: #2a96a5 3px solid;
    }
    .footer{
        margin-top: 20px;
    }
    body{
        border: #1c294e 5px solid;
    }
</style>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-leanpub"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>其它项目团队</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span>总览板</span></a></li>
                    <li class="nav-item"> <a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>团队成员</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>团队活动</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>个人信息</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="../home/index.html"><i class="fas fa-window-maximize"></i><span>返回首页</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="搜索什么东西呢～">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="../../static/otherassets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="../../static/otherassets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="../../static/otherassets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="../../static/otherassets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">学院最帅</span><img class="border rounded-circle img-profile" src="../../static/otherassets/img/dogs/image1.jpeg"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>

                <div>

                        <ul class="nav nav-tabs" style="box-shadow: #2a96a5 3px 3px 3px" >
                            <li role="presentation" class="active" style="width: 50%"><a href="index.html" >团队概况</a></li>
                            <li role="presentation" style="width: 50%"><a href="guanli.html">团队管理</a></li>

                        </ul>

                </div>
         <div id="header" class="header">

         </div>


                <div id="article" class="article">
                    <div class="left">
                        计算机科学与工程学院前身为惠阳师范专科学校电子计算机中心，创办于1986年。2000年惠州大学升格为全日制普通本科高校并更名为惠州学院。2002年6月，计算机中心与电子工程系合并组建电子信息系。2004年7月，电子信息系的计算机科学与技术专业与公共计算机教研室合并成立计算机科学系。2016年11月，计算机科学系更名为信息科学技术学院，2020年1月更名为计算机科学与工程学院。办学30年来，学院秉承“产教融合，国际合作，协同育人，服务地方” 的办学理念，以培养高素质应用型工科人才为办学目标，逐步成为国际合作办学、服务地方信息产业的特色学院。
                    </div>
                    <div class="right">


                            <div class="pics">
                                <img src="../../static/otherassets/img/avatars/hzxy4.png ">
                                <img src="../../static/otherassets/img/avatars/hzxy6.jpg">
                                <img src="../../static/otherassets/img/avatars/hzxy7.png">

                            </div>
                    </div>

               </div>

<div id="ft" class="footer">
    <div id="l2" class="left2">

    </div>
    <div id="r2" class="right2">
        卓越的师资队伍、优良的办学条件，校企深度融合，与华为技术有限公司、科大讯飞股份有限公司等国内知名企业签订合作协议、与惠州德赛西威汽车电子股份有限公司、惠州华阳通用电子有限公司、广东泰一高新技术发展有限、广东九联科技股份有限公司建立深度合作，构建了完善的创新应用型信息技术人才培养模式。近年来，我院学生在国家、省级以上学科竞赛中表现优异、屡获大奖，曾获得“全国大学生计算机设计大赛”总决赛一等奖、中国大学生软件服务外包大赛总决赛一等奖、“博创杯”全国大学生嵌入式物联网设计大赛一等奖等奖项。2019年参加校级以上各类学科竞赛的学生达577人次，有334人次在全国各级学科竞赛中获奖，获得国家级奖项32项。部分学生在校期间或毕业后短期间内即走上了创业发展的道路。
    </div>
</div>


    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="../../static/otherassets/js/jquery.min.js"></script>
    <script src="../../static/otherassets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/otherassets/js/chart.min.js"></script>
    <script src="../../static/otherassets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../../static/otherassets/js/theme.js"></script>
</body>

</html>